    <form class="form-inline" role="form" ng-controller="salaryController">
        <div class="panel panel-primary">
            <div class="panel-heading" > New Salary </div>
            <div class="panel-body">
                <div class="form-group">
                    <!-- <label for="inputDate" class="col-sm-2 control-label">Date</label> -->
                    <div class="col-sm-10">
                        <input type="date" class="form-control input-sm" id="inputDate" placeholder="Date..." ng-model="salaryDate" >
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label for="inputSalary" class="col-sm-2 control-label">Salary</label> -->
                    <div class="col-sm-10">
                        <input type="number" class="form-control input-sm" id="inputSalary" placeholder="Salary..." ng-model="salaryAmount"
                               pattern="[0-9]+([\.|,][0-9]+)?" step="0.01">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <h2>Summary</h2>

        <p><strong>Salary Date:</strong> {{ salaryDate }}</p>
        <p><strong>Salary Amount:</strong> {{ salaryAmount }}</p>

    </form>

    <h2>Salaries</h2>
<!--
    <script>
        $(document).ready(function(){
            $('#salariesTable').dataTable();
        });
    </script>
-->
    <div class="table-responsive">
        <table id="salariesTable" class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="salary in salaries">
                <td>{{ salary.Date }}</td>
                <td>{{ salary.Amount }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>-</td>
                <td><strong>{{ salaries | sum:'Amount' }}</strong></td>
            </tr>
            </tfoot>
        </table>
    </div>
